.vermelho{
    color:red
}

.verde{
    color:green
}

table#jogoDaVelha{
    background-color: #145486;
    margin:20px;
    color:#2246;
    font-size:112px;
    font-family:Arial, Helvetica, sans-serif;

}

table#jogoDaVelha tr td{
    width:150px;
    height:150px;
    border:5px #448751 solid;
}

table#jogoDaVelha tr td:houver{
    background-color: #478423;
    cursor:pointer;
}

table#jogoDaVelha tr td div{
    display:flex;
    justify-content: center;
    align-items: center;
}
table#jogoDaVelha tr.placar td{
    border:0 !important;
    background-color: aquamarine;
    color:#46168d;
    text-align:center;
}

#separador{
    font-size:58px;
    color:black !important;
}

#linha1coluna1{
    border-top:0 !important;
    border-left:0 !important;
}

#linha1coluna2{
    border-top:0 !important;
}

#linha1coluna3{
    border-top:0 !important;
    border-right:0 !important;
}
#linha2coluna1{
    border-left:0 !important;
}
#linha2coluna3{
    border-right: 0 !important;
}
#linha3coluna1{
    border-left: 0 !important;
    border-bottom: 0 !important;

}
#linha3coluna2{
    border-bottom:0 !important;
}
#linha3colyuna3{
    border-right:0 !important;
    border-bottom:0 !important;
}